absl-py==1.1.0
aiofiles==0.8.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
antlr4-python3-runtime==4.9.3
anyio==3.6.1
asgiref==3.5.2
async-timeout==4.0.3
attrs==24.2.0
black==22.3.0
cachetools==5.2.0
Camelot==12.6.29
camelot-py==0.10.1
certifi==2024.7.4
cffi==1.15.0
chardet==5.0.0
charset-normalizer==2.0.12
ci-info==0.2.0
click==8.1.3
cloudpickle==2.1.0
colorama==0.4.4
configobj==5.0.6
configparser==5.2.0
cryptography==37.0.2
cycler==0.11.0
decorator==5.1.1
distro==1.7.0
Elixir==0.7.1
et-xmlfile==1.1.0
etelemetry==0.3.0
ExtractTable==2.3.1
fairscale==0.4.6
filelock==3.7.1
fitz==0.0.1.dev2
Flask==2.1.2
fonttools==4.33.3
frontend==0.0.3
frozenlist==1.4.1
future==0.18.2
fvcore==0.1.5.post20220512
grpcio==1.47.0
h11==0.13.0
httplib2==0.20.4
hydra-core==1.2.0
idna==3.3
iopath==0.1.9
isodate==0.6.1
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==1.0.1
kiwisolver==1.4.2
langdetect==1.0.9
looseversion==1.0.1
lxml==4.9.0
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.5.2
multidict==6.0.5
mypy-extensions==0.4.3
mysql-connector-python==8.0.29
networkx==2.8.2
nibabel==3.2.2
nipype==1.8.1
numpy==1.22.4
omegaconf==2.2.2
openai==0.28.0
openpyxl==3.0.10
packaging==21.3
pandas==1.4.2
pathlib==1.0.1
pathspec==0.9.0
pbr==6.0.0
pdf2image==1.16.0
pdfminer==20191125
pdfminer.six==20220524
pdfplumber==0.7.1
pdftextract==0.0.5
Pillow==9.1.1
platformdirs==2.5.2
portalocker==2.4.0
protobuf==3.19.4
prov==2.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.14.1
pydantic==1.9.1
pydot==1.4.2
PyMuPDF==1.19.4
pyparsing==3.0.9
PyPDF2==2.0.0
pypdfium2==4.30.0
pytesseract==0.3.9
python-dateutil==2.8.2
python-dotenv==1.0.1
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
s3transfer==0.6.0
scipy==1.8.1
simplejson==3.17.6
six==1.16.0
sniffio==1.2.0
SQLAlchemy==0.7.10
sqlalchemy-migrate==0.11.0
sqlparse==0.5.1
starlette==0.20.1
tabula-py==2.4.0
tabulate==0.8.10
Tempita==0.5.2
termcolor==1.1.0
tomli==2.0.1
tools==0.1.9
tqdm==4.63.0
traits==6.3.2
typing_extensions==4.2.0
tzdata==2024.1
urllib3==1.26.9
uvicorn==0.17.6
Wand==0.6.10
Werkzeug==2.1.2
wincertstore==0.2
xlrd==0.7.1
xlwt==0.7.2
yacs==0.1.8
yarl==1.9.4
zipp==3.8.0
